*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    scroll-behavior: smooth;
}

span{
    color: #ff0157;
    font-size: 2.8rem;
}

.scrollTop{
    position: fixed;
    right: .2rem;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
    z-index: 3;
    transition: .4s;
    text-decoration: none;
    visibility: hidden;
}

.scrollTopIcon{
    color: #ff0157;
}

.showScroll{
    visibility: visible;
}

/****************************************NOTRE HEADER******************************************/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
    z-index: 100;
}

header.sticky{
    background-color: #efefef;
    box-shadow:blue;
    transition: .5s;
}

header .logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header .navToggle{
    position: absolute;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    color: black;
    font-size: 1.8rem;
    display: none;
}


header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
}

header ul a{
    text-decoration: none;
    padding: 1rem;
}

/*Responsivité header*/
@media screen and (max-width:768px){
    header{
        flex-direction: column;
        align-items: flex-start;
        left: 0;
    }

    header ul{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #2BD0BB;
        width: 100%;
        top: 90%;
        left: 0;
        padding: 0;
        transform: translateX(120%);
        transition: 1s;
        min-height: 100vh;
    }

    header ul.active{
        transform: translateX(0);
        transition: 1s ease;
    }

    header ul li{
        padding: 1rem;
    }

    header .navToggle{
        display: flex;
    }

}


/****************************************NOTRE BANNER******************************************/
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
    align-items: center;
    background: url('/img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-color: #efefee; */
    min-height: 100vh;
    color: #eee;
}

.bannerTxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
}

.bannerTxt h2, .bannerTxt h3{
    display: inline-block;
    margin: 0;
    padding: 0;
    transform-origin: left;
    transform: scaleX(0);
    animation: revealTxtReverse 1s ease-in-out forwards;
}

.bannerTxt h2{
    font-size: 2.7rem;
    animation-delay: 1s;
    border-bottom: 4px solid #ff0157;
    margin-bottom: 1rem;
}

.bannerTxt h3{
    font-size: 2.5rem;
    animation-delay: 2s;
}

.bannerTxt h2::before, .bannerTxt h3::before{
    content: '';
    position: absolute;
    background: #ff0157;
    width: 100%;
    height: 100%;
    transform-origin: right;
    animation: revealTxt 1s ease-in-out forwards;
    animation-delay: 2s;
}

.bannerTxt h3::before{
    animation-delay: 3s;
}

.bannerTxt p{
    opacity: 0;
    animation: para 1s linear forwards;
    animation-delay: 4s;
    text-align: justify;
    font-weight: 700;
    /* color: white; */
    margin: 1rem;
    text-align: center;
}

.bannerTxt a{
    opacity: 0;
    display: inline-block;
    background-color: #ff0157;
    color: black;
    text-decoration: none;
    padding: .5rem;
    animation: plus .5s linear forwards;
    animation-delay: 4.5s;
}


/****************************************GESTION DE L'ANIMATION******************************************/
@keyframes revealTxt{
    0%{
        transform: scaleX(1);
    }

    100%{
        transform: scaleX(0);
    }
}

@keyframes revealTxtReverse{
    0%{
        transform: scaleX(0);
    }

    100%{
        transform: scaleX(1);
    }
}

@keyframes para{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes plus{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/****************************************RESPONSIVITE BANNER******************************************/
@media screen and (max-width: 530px){
    .bannerTxt h2{
        font-size: 1.7rem;
    }

    .bannerTxt h3{
        font-size: 1.5rem;
    }

    .bannerTxt p{
        font-size: .8rem;
        text-align: justify;
    }
}

@media screen and (max-width: 365px){
    .bannerTxt h2{
        font-size: 1.3rem;
    }

    .bannerTxt h3{
        font-size: 1.3rem;
    }

    .bannerTxt p{
        font-size: .8rem;
        text-align: justify;
    }
}




/****************************************NOS SERVICES******************************************/
.container{
    padding: .3rem;
        /* background:url('/img/team.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */
    background-color: #efefef;
}

.servicesTitle{
    text-align: center;
    margin: 1rem;
}

.servicesTitle h2{
    display: inline;
    text-align: center;
    border-bottom: 4px solid #ff0157;
}

.servicesCtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxServices{
    position: relative;
    width: 250px;
    margin: 1rem;
    border-radius: 10px;
    border: 4px solid white;
}

.imgServices{
    position: relative;
    height: 250px;
}

.imgServices img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.txtServices{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 8, 8, 0.4);
    height: 50px;
    border-radius: 10px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}


@media screen and (max-width:420px){
    .boxServices{
        width: 140px;
        margin: .2rem;
    }
    
    .imgServices{
        position: relative;
        height: 150px;
    }

    .txtServices{
        font-size: .8rem;
    }
    
}

@media screen and (max-width:320px){
    .boxServices{
        width: 200px;
        margin: .2rem;
    }
}


/****************************************NOTRE EXPERTS******************************************/
.experts{
    background-color: #efefef;
}

.expertsTitle{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.expertsTitle h2{
    display: inline;
    text-align: center;
    border-bottom: 4px solid #ff0157;
}

.expertsCtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxExperts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 1.5rem;
    background-color: #2BD0BB;;
    border-radius: 10px;
}

.expertsImg{
    position: relative;
    width: 100px;
    height: 100px;
}

.expertsImg img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 1rem 0;
}

.expertTxt{
    margin: 1rem 2rem;
    text-align: center;
    padding: 1rem;
}

.expertTxt .infos{
    margin: .5rem;
}

.expertTxt .contact{
    display: inline-block;
    border-radius: 30px;
}

.expertTxt .contact{
    display: inline-block;
    padding: .5rem;
    background-color: #ff0157;
}

.boxExperts ul{
    display: flex;
    list-style: none;
    display: none;
}


.boxExperts ul li{
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}

.boxExperts ul li i{
    color: white;
}

.boxExperts:hover ul{
    display: flex;
}

@media screen and (max-width: 450px){
    .boxExperts{
        width: 300px;
        height: 350px;
        margin: 1.5rem;
        border-radius: 10px;
    }
}



/********************************************FOOTER************************************************/
footer{
    position: relative;
    background-color: #efefef;
    text-align: center;
    padding: 1rem;
}

footer .contactTitle{
    text-align: center;
    margin: 1rem 0;
}

.footerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}